/*
<!-- ############################ -->
<!-- ---------- FOOTER ---------- -->
<!-- ############################ -->
*/
footer{
	width: 100%;
	min-height: 100px;
	background: #1c1c1c;
}
footer .red{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	color: #fff;
	font-size: 20px;
	line-height: 65px;
	transition: .5s ease;
	margin-bottom: 15px;
}
footer .red:hover{
	font-size: 40px;
	line-height: 65px;
}
footer .facebook{
	background: #3A5795;
}
footer .whatsapp{
	background: #4dc247;
}
footer .pinterest{
	background: #cb2027;
}
footer .instagram{
	background: #125688;
}
footer .google{
	background: #dd4b39;
}
footer .twitter{
	background: #55acee;
}
footer .youtube{
	background: #bb0000;
}